.perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  .foto-perfil {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 3px solid var(--ion-color-primary);
  }

  ion-card {
    width: 100%;
    text-align: center;
  }
}

/* Muda a cor do título no Header */
ion-title {
  color: #ffffff !important; 
}

/* Muda a cor do ícone do menu (hambúrguer) */
ion-menu-button {
  --color: #ffffff !important;
}

/* Muda a cor dos botões de navegação no header */
ion-buttons ion-button {
  --color: #ffffff !important;
}